body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/*HEADER*/
/*Navigation*/

.main-menu {
    padding: 0;
    margin: 17px;
    text-align: center;
}

.main-menu li {
    display: inline-block;
    margin: 10px;
    font-weight: 700;

}

  .title {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .tasks-block {
    padding: 50px 150px;
    background: #efefef;
}

.contacts-container {
  padding: 50px 150px;
  background: inherit;
}

  .tasks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
  }

  .tasks-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .task {
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    .tasks {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
  }

  ul {
    list-style-type: none;
  }
 

  /*Task manager*/

  #task-list {
    list-style-type: none;
    padding: 0;
  }
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .task .icon {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }
  .task.completed {
    background-color: #cceeff;
    border-color: #99d6ff;
  }
  .task.completed .icon {
    background-color: #99d6ff;
    color: white;
  }
  .warning {
    color: red;
  }